<!DOCTYPE html>
<html lang="en">

<body>  
       
<form action="/" method="post" >
<h1>Welcome to UI !</h1>
<label for="operation">operation</label>
<input type="text" id="operation" name="operation" required
       minlength="3" maxlength="8" size="10"><br>
<label for="num1">num1</label>
<input type="number" id="num1" name="num1" required
       minlength="1" maxlength="8" size="10"><br>
<label for="num2">num2</label>
<input type="number" id="num2" name="num2" required
       minlength="1" maxlength="8" size="10"><br>

<input type="submit" id="submit" name="submit">
</form>
</body>

</html>